cloud_id                 = "1"
folder_id                = "2"
image_id                 = "3"
public_key_path          = "4"
private_key_path         = "5"
subnet_id                = "6"
service_account_key_file = "key.json"
reddit_worker_name       = "reddit-worker-k8s"
reddit_master_name       = "reddit-master-k8s"
access_key               = "7"
secret_key               = "8"
yc_instance_app_count    = "2"
